{% load static %}

<!DOCTYPE html>

<html>

<!--  ======================================================  Head Start  ======================================================  -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name=" viewport" content="width-device-width, initial-scale=1.0">

    <title>Business Management System</title>

    <link rel="stylesheet" href="{% static 'CSS/sign_in_or_sign_up.css' %}">

    <link rel="icon" href="{% static 'Images/logo.png' %}">

</head>

<!--  ======================================================  Head End  ======================================================  -->

<!--  ======================================================  Body Start  ======================================================  -->

<body>

    <!--  ======================================================  Sign Up Start  ======================================================  -->

    <section>

        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>

        <div class="signin">

            <div class="signin-content">

                <div class="signup-form " id="sign-up-form ">

                    <form name="register " method="post ">

                        <form action="/sign_in " method="post " id="contact-form ">

                            {% csrf_token %}

                            <h1>Sign Up</h1>

                            <!--<div class="alert-box" id="alertBox">

                                <div class="alert-container">

                                    {% if messages %}
                                    <div class="alert-container ">
                                        {% for message in messages %}
                                        <div class="alert-{{ message.tags }} ">
                                            <h4>{{ message }}</h4>
                                            <button class="close-btn" onclick="hideAlert()"><img src="{% static 'Images/close.png' %}" alt=""></button>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    {% endif %}



                                </div>

                            </div>-->

                            <div class="validation ">
                                <label for="name ">Name : </label>
                                <input type="text " id="username " name="username " placeholder="Enter Your Name " required>
                            </div>

                            <div class="validation ">
                                <label for="name ">Phone Number : </label>
                                <input type="text " id="number " name="number " placeholder="Enter Your Phone Number " required>
                            </div>

                            <div class="validation ">
                                <label for="name ">Email : </label>
                                <input type="email " id="email " name="email " placeholder="Enter Your Email " required>
                            </div>

                            <div class="validation ">
                                <div class="password-toggle ">
                                    <label for="password ">Password : </label>
                                    <input type="password " class="password " id="password " name="password " placeholder="Enter Your Password " required>
                                    <img id="toggle_password " class="eye-icon " src="https://img.icons8.com/material-outlined/24/000000/visible.png " alt="Toggle Password ">
                                </div>
                            </div>

                            <div class="validation ">
                                <div class="password-toggle ">
                                    <label for="password ">Confirm Password : </label>
                                    <input type="password " class="password " id="con-password " name="con-password " placeholder="Enter Confirm Password " required>
                                    <img id="toggle_password " class="eye-icon " src="https://img.icons8.com/material-outlined/24/000000/visible.png " alt="Toggle Password ">
                                </div>
                            </div>

                            <div class="validation ">
                                <button type="submit">Sign Up</button>
                            </div>

                            <div class="validation ">
                                <label for="text ">Already Have an Account ? <a href="/sign_in " onclick="showSignInForm() ">Sign In</a></label>
                            </div>

                        </form>

                    </form>
                </div>


            </div>


        </div>

    </section>

    <!--  ======================================================  Sign Up End  ======================================================  -->

    <script>
        document.getElementById('toggle_password').addEventListener('click', function() {
            const passwordField = document.getElementById('password');
            const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordField.setAttribute('type', type);

            this.src = type === 'password' ?
                'https://img.icons8.com/material-outlined/24/000000/visible.png' :
                'https://img.icons8.com/material-outlined/24/000000/invisible.png';
        });

        function showAlert() {
            document.getElementById('alertBox').classList.add('visible');
        }

        function hideAlert() {
            document.getElementById('alertBox').classList.remove('visible');
        }
    </script>

</body>

<!--  ======================================================  Body End  ======================================================  -->

</html>