{% load static %} {% load socialaccount %}

<!DOCTYPE html>

<html>

<!--  ======================================================  Head Start  ======================================================  -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name=" viewport" content="width-device-width, initial-scale=1.0">

    <title>Business Management System</title>

    <link rel="stylesheet" href="{% static 'CSS/sign_in_or_sign_up.css' %}">

    <link rel="icon" href="{% static 'Images/logo.png' %}">

    <script src="https://accounts.google.com/gsi/client" async></script>

</head>

<!--  ======================================================  Head End  ======================================================  -->

<!--  ======================================================  Body Start  ======================================================  -->

<body>

    <!--  ======================================================  Sign In Start  ======================================================  -->


    <section>

        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>

        <div class="signin">

            <div class="signin-content">

                <div class="signin-form">
                    <form method="post">

                        {% csrf_token %}

                        <h1>Send Email</h1>

                        <!--  ============================================  Alert Message Start  ============================================  -->


                        {% if messages %}
                        <div class="alert">
                            <div id="messages" data-messages="{% for message in messages %}{{ message }}{% if not forloop.last %}|{% endif %}{% endfor %}"></div>
                        </div>
                        {% endif %}


                        <!--  ============================================  Alert Message End  ============================================  -->

                        <div class="validation">
                            <label for="email">Email : </label>
                            <input type="email" id="email" name="email" placeholder="Enter Your Email" required>
                        </div>

                        <div class="validation">
                            <button type="submit">Reset Password</button>
                        </div>

                        <div class="text" style="text-align: center; margin-top: 50px; ">
                            <h2 style="font-size: 30px; font-weight: 900;">With the help of this Email, <br> You can change the password <br> of account and also access your <br> account with the help of this <br> changable password.</h2>
                        </div>

                    </form>
                </div>

            </div>


        </div>

    </section>

    <script src="{% static 'JS/script.js' %}"></script>

    <!--  ======================================================  Sign In End  ======================================================  -->

</body>

<!--  ======================================================  Body End  ======================================================  -->

</html>