{% load static %} {% load socialaccount %}

<!DOCTYPE html>

<html>

<!--  ======================================================  Head Start  ======================================================  -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name=" viewport" content="width-device-width, initial-scale=1.0">

    <title>Business Management System</title>

    <link rel="stylesheet" href="{% static 'CSS/Sign_in_or_sign_up.css' %}">

    <link rel="icon" href="{% static 'Images/logo.png' %}">

    <script src="https://accounts.google.com/gsi/client" async></script>

</head>

<!--  ======================================================  Head End  ======================================================  -->

<!--  ======================================================  Body Start  ======================================================  -->

<body>

    <!--  ======================================================  Sign In Start  ======================================================  -->


    <section>

        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>

        <div class="signin">

            <div class="signin-content">

                <div class="signin-form" id="sign-in-form">
                    <form action="{% url 'sign_in' %}" method="post">

                        {% csrf_token %}

                        <h1>Password Reset Complete</h1>

                        <!--  ============================================  Alert Message Start  ============================================  -->


                        {% if messages %}
                        <div class="alert">
                            <div id="messages" data-messages="{% for message in messages %}{{ message }}{% if not forloop.last %}|{% endif %}{% endfor %}"></div>
                        </div>
                        {% endif %}


                        <!--  ============================================  Alert Message End  ============================================  -->

                        <div class="validation">

                        </div>

                        <div class="text" style="text-align: center; margin-top: 50px; ">
                            <h2 style="font-size: 50px; font-weight: 900;">Your password has been reset successfully. <br> You can now <a href="{% url 'sign_in' %}" style="font-weight: 900; color: #23b0e7;">"Sign In"</a> with your new password.</h2>
                        </div>

                    </form>
                </div>

            </div>


        </div>

    </section>

    <script src="{% static 'JS/script.js' %}"></script>

    <!--  ======================================================  Sign In End  ======================================================  -->

</body>

<!--  ======================================================  Body End  ======================================================  -->

</html>