{% load static %}

<!DOCTYPE html>

<html>

<!--  ======================================================  Head Start  ======================================================  -->

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name=" viewport" content="width-device-width, initial-scale=1.0">

    <title>Business Management System</title>

    <link rel="stylesheet" href="{% static 'CSS/Sign_in_or_sign_up.css' %}">

    <link rel="icon" href="{% static 'Images/logo.png' %}">

</head>

<!--  ======================================================  Head End  ======================================================  -->

<!--  ======================================================  Body Start  ======================================================  -->

<body>

    <!--  ======================================================  Sign Up Start  ======================================================  -->

    <section>

        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>

        <div class="signin">

            <div class="signin-content">

                <div class="signup-form" id="sign-up-form">

                    <form action="" name="register" method="post">

                        <form action="/sign_in" method="post">

                            {% csrf_token %}

                            <h1>Sign Up</h1>

                            <!--  ============================================  Alert Message Start  ============================================  -->

                            {% if messages %}
                            <div class="alert">
                                <div id="messages" data-messages="{% for message in messages %}{{ message }}{% if not forloop.last %}|{% endif %}{% endfor %}"></div>
                            </div>
                            {% endif %}

                            <!--  ============================================  Alert Message End  ============================================  -->

                            <div class="validation">
                                <label for="name">Name : </label>
                                <input type="text" id="username" name="username" placeholder="Enter Your Name" required>
                            </div>

                            <div class="validation">
                                <label for="number">Phone Number : </label>
                                <input type="text" id="number" name="number" placeholder="Enter Your Phone Number" required>
                            </div>

                            <div class="validation">
                                <label for="email">Email : </label>
                                <input type="email" id="email" name="email" placeholder="Enter Your Email" required>
                            </div>

                            <div class="validation">
                                <div class="password-toggle">
                                    <label for="password">Password : </label>
                                    <input class="password" type="password" id="password" name="password" placeholder="Enter Your Password" required>
                                    <img id="toggle_password" class="eye-icon-signin" src="https://img.icons8.com/material-outlined/24/000000/visible.png">
                                </div>
                            </div>

                            <div class="validation">
                                <div class="password-toggle">
                                    <label for="confirm_password">Confirm Password : </label>
                                    <input class="password" type="password" id="confirm_password" name="confirm_password" placeholder="Renter Password" required>
                                    <img id="toggle_confirm_password" class="eye-icon-signin" src="https://img.icons8.com/material-outlined/24/000000/visible.png">
                                </div>
                            </div>

                            <div class="validation ">
                                <button type="submit">Sign Up</button>
                            </div>

                            <div class="links">
                                <label for="text ">Already Have an Account ? <a href="/sign_in ">Sign In</a></label>
                            </div>

                        </form>

                    </form>

                </div>

            </div>

        </div>

    </section>

    <!--  ======================================================  Sign Up End  ======================================================  -->

    <script src="{% static 'JS/script.js' %}"></script>

    <script>
        document.getElementById('toggle_confirm_password').addEventListener('click', function() {
            const confirmPasswordField = document.getElementById('confirm_password');
            const type = confirmPasswordField.getAttribute('type') === 'password' ? 'text' : 'password';
            confirmPasswordField.setAttribute('type', type);

            this.src = type === 'password' ?
                'https://img.icons8.com/material-outlined/24/000000/visible.png' :
                'https://img.icons8.com/material-outlined/24/000000/invisible.png';
        });
    </script>

</body>

<!--  ======================================================  Body End  ======================================================  -->

</html>